.example-sidenav-content {
    height: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

mat-toolbar {
    height: 5vh;
}
.example-container {
    height: 95vh;
    border: 1px solid rgba(0, 0, 0, 0.5);

}

.elementoBarra{
    border-bottom: 2px solid black;
    padding: 12px 24px;
    margin-bottom: 2vh;
    cursor: pointer;
}

